/**** Css del nav ****/
nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0px;
    background-color: black;
    justify-content: space-around;
    height: 80px;
}

.ulnav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 10px 10px 10px 10px;
    padding-left: 0px;
    justify-content: space-between;
}


.linav {
    display: flex;
    padding: 10px;
    margin: 5px;
    font-size: 23px;
    color:white;
    margin-right: 20px;
}


#icono:hover {
    /* color:white; */
    filter: brightness(150%);

}
.linav:hover{
    border-bottom: rgb(187, 146, 231) solid 2px;
}
   

/**** Css del footer ****/
footer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    width: 100%;
    margin: 0px;
}

.redesSociales {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    margin-top: 5px;
}

.redes {
    display: flex;
    margin: 5px;
    padding: 10px;
    color: white;
    font-weight: bold;
    border: 1px solid rgb(54, 49, 49);
    border-radius: 10px;
}

.redes:hover {
    background-color: rgb(187, 150, 218);
    color: #ffffff;
}

.infoFooter {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

#aboutus {
    justify-content: left;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(54, 49, 49);
    border-radius: 10px;
}

#aboutus::first-letter {
    color: brown;
    font-size: 20px;
}

#botontw {
    margin-right: 5px;
}
