/* Para que los links no aparezcan subrayados */
a:link,
a:visited,
a:active {
    text-decoration: none;
}

body {
    display: flex;
    flex-wrap: wrap     ;
    flex-direction: column;
    font-family: sans-serif;
    height: auto;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(90deg, rgba(187, 150, 218, 0.8885679271708683) 20%, rgba(168, 150, 221, 1) 52%, rgba(131, 132, 222, 1) 79%);
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0px;
    width: 100%;
    align-content: center;
    align-items: center;
}

/*style del Buscador*/
.buscador {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border: 2px solid rgb(188, 188, 211);
    border-radius: 15px;
    margin: 10px;
    padding: 7px 10px;
}

.button1 {
    padding: 10px 20px;
    margin: 7px;
    border-radius: 15px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: 700;
}

.button1:hover {
    background-color: rgb(155, 116, 226);
    color: white;
}

/* líneas de separación */
div [class="lineah"] {
    background-color: rgb(200, 199, 226);
    border: 1px solid rgb(200, 199, 226);
    border-radius: 100%;
    height: 1px;
    margin: 10px 0px;
}

.lineav {
    background-color: rgb(200, 199, 226);
    border: 1px solid rgb(200, 199, 226);
    border-radius: 100%;
    width: 1px;
    margin: 5px 10px;
}

.filtrosBuscador {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
}

.destino {
    width: 250px;
}

.hijo2form{
    display:flex;
    flex-wrap:wrap;
    width:80vw; 
    height: 390px;
    flex: row;
    margin:10px 10px 10px 10px;
    padding:0px;
    justify-content:space-around;
    align-items: center;
    flex-direction: row;

}
.hijo3form{
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}
#contacto{

    width:80vw;
    padding:10px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    font-size: larger;
}

/* Style de los viajes */
.ofertaViajes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    align-content: center;
    width: 90vw;
    height: auto;
    justify-content: space-evenly;
    padding: 20px;
}
/* syles de about us */
#mainAu{
    display: flex;
    flex-wrap: wrap;
    font-family: Georgia,Times,Times New Roman,serif; 
    background: linear-gradient(90deg, rgba(199, 238, 222, 0.889) 20%, rgb(182, 186, 234) 52%, rgb(237, 204, 234) 79%);
}

.caja{
    align-items: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 50px;

}
.caja1{  
    display: flex;
    flex-direction: column;
    align-items: center;
    width:70%;
    margin-top: 10px;
    margin-bottom: 20px;
}
.caja2{
    margin-top:15px;
    margin-bottom: 45px;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.pais{
    display: flex;
    flex-wrap: wrap;
    height: 20vw;
    width: 30vw;
    margin: 0px;
    padding: 20px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 0px;
    object-fit: fill;
    /* width: 100%;
    height: 100%; */
    margin:0px;
}
.imgF{
    object-fit: fill;
    width: 100%;
    height: 100%;
    display: block;
}

#texto{
    background-color: rgb(173, 224, 171);
    padding: 40px;
    margin-left: 50px;
    border-radius: 30px;
    color:#175b11;
    
}
#texto:first-child{
    background-color: rgb(226, 133, 163);
    color:#510909;

}
#texto:first-child:hover{
    transition: 600ms;
    box-shadow: 0px 0px 10px rgba(0, 0, 0.5, 1);
}
#texto:last-child:hover{
    transition: 600ms;
    box-shadow: 0px 0px 10px rgba(0, 0, 0.5, 1);
}
#texto::first-line{
    font-style: italic;
    color: rgb(0, 0, 0);
}
#lineah2{
    width: 200px;
    height: 2px;
    background-color: rgb(3, 0, 0);
}
#lineah1{
    width: 200px;
    height: 2px;
    background-color: rgb(3, 0, 0);
} 
/* styles del carrito */
#cartAu{
    height: 100%;
    background: linear-gradient(90deg, rgba(189, 207, 232, 0.889) 20%, rgb(70, 78, 156) 52%, rgb(193, 177, 231) 79%);
}
.cart{
    font-family: sans-serif; 
    padding: 20px;
    display: flex; 
    flex-direction: column;
    backdrop-filter: blur(100%);
    box-shadow: 0 0 10px 1.5px rgba(0, 0, 0, 0.4);
    width: 800px;
    height: 300px;
    background-color: rgba(16, 1, 47, 0.806);
    color: #f6f0f0;
    width: 80%;
    height: 40%;
}
.formReserva{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.formReserva1{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 20px;
    width: 100%;
    background-color: #ffffff;
    color:black;
}
.btn{
    border: solid black 1px;
    border-radius: 20px;
    width: 70px;
    height: 50px;
    background-color: rgba(193, 164, 247, 0.876);
    font-size: small;
    text-align: center;
    padding: 10px;

}
.lineaVer{
    width:5px;
    height: 300px;
    background-color: rgb(4, 0, 0);

}

@media (min-width:1284px) {
    #titulo {
        font-family: Montserrat;
        font-size: 55px;
        color: black;
        font-weight: bold;
        margin: 10px 0px;
    }

    .card {
        transition: 0.3s;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 20px;
        width: 20vw;
        border-radius: 15px;
        background-color: rgba(255, 255, 255, 0.45);
        backdrop-filter: blur(15px);
        box-shadow: 0 0 10px 1.5px rgba(0, 0, 0, 0.4);
    }

    .card:hover {
        box-shadow: 0 0 35px 1.5px rgba(0, 0, 0, 0.6);
        font-size: 16.5px;
    }

    .imagen {
        width: 20vw;
        height: 15vw;
        border-radius: 15px 15px 0px 0px;
    }

    .info {
        display: flex;
        flex-direction: column;
        margin: 0px 10px 10px 10px;

    }

    .titulo {
        font-weight: bolder;
    }

    .precio {
        text-align: center;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 0px;
        border-radius: 15px 0px 15px 0px;
        background-color: rgb(0, 0, 0);
        color: rgb(250, 250, 250);
        width: 75px;
        font-size: 13px;
        margin-left: 10px;
    }

    .hijo2form {
        display: flex;
        flex-wrap: wrap;
        width: 20vw;
        border-radius: 20px;
        border: 2px solid rgb(200, 199, 226);
        align-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.45);
        backdrop-filter: blur(15px);
        margin-left: 36vw;
        flex-wrap:wrap;
        flex-direction: row;
        margin:10px 10px 10px 10px;
        padding:0px;
    
    }

    .formulario {
        display: flex;
    }

    #nombre {
        display: flex;
    }

    #apellidos {
        display: flex;
    }

    #correo {
        display: flex;
    }

    #dni {
        display: flex;
    }

    #fechaNacimiento {
        display: flex;
    }

    #boton {
        display: flex;
    }

}

@media (max-width:1283px) {
    #icono {
        display:block;
        width: 20px;
    }

    #titulo {
        font-family: Montserrat;
        font-size: 45px;
        color: black;
        font-weight: bold;
        margin: 10px 0px;
    }

    .card {
        transition: 0.3s;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 20px;
        width: 28vw;
        border-radius: 15px;
        background-color: rgba(255, 255, 255, 0.45);
        box-shadow: 0 0 10px 1.5px rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(15px);
    }

    .card:hover {
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.6);
        font-size: 17px;
    }

    .imagen {
        width: 28vw;
        height: 15vw;
        border-radius: 15px 15px 0px 0px;
    }

    .info {
        display: flex;
        flex-direction: column;
        margin: 1px 10px 10px 10px;

    }
  

    .titulo {
        margin-top: 0px;
        font-weight: bolder;
    }

    .precio {
        text-align: center;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 0px;
        border-radius: 15px 0px 15px 0px;
        border: 1px solid #ffffff;
        background-color: rgb(0, 0, 0);
        color: rgb(250, 250, 250);
        width: 75px;
        font-size: 13px;
        padding: 10px;
        margin-left: 10px;
    }

    .hijo2form {
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 2px;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 80vw;
        border-radius: 20px;
        border: 2px solid rgb(200, 199, 226);
        background-color: rgba(255, 255, 255, 0.45);
        backdrop-filter: blur(15px);
        justify-content: space-evenly;
    }

    .formulario {
        display: flex;
    }

    #nombre {
        display: flex;
    }

    #apellidos {
        display: flex;
    }

    #correo {
        display: flex;
    }

    #dni {
        display: flex;
    }

    #fechaNacimiento {
        display: flex;
    }

    #boton {
        display: flex;
    }

    #tabla {
        display: flex;
        flex-direction: row;
        border: solid rgb(255, 255, 255) 2px;
        text-align: center;
        justify-content: center;
        font-size: 15px;
        margin: 50px;
        background-color: rgb(255, 255, 255);
        align-content: center;
        width: 600px;
    }

    .tablacontenido {
        /* creo que no funciona */
        border-bottom: 2px black solid;
    }

    #botonesAdmin {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #adminboton {
        display: flex;
        border-radius: 20px;
        border: 1px black solid;
        padding: 10px;
        text-align: center;
        justify-content: center;
        width: 70px;
        background-color: #ffffff;
    }

    #adminboton:hover {
        border: 1px solid #111;
        box-shadow: 0px 0px 26px 8px hsla(268, 33%, 72%, 0.58);
        background-color: #ffffff;
    }
    #mainAu{
        font-family: Georgia,Times,Times New Roman,serif; 
        background: linear-gradient(90deg, rgba(199, 238, 222, 0.889) 20%, rgb(182, 186, 234) 52%, rgb(237, 204, 234) 79%);
    }
    .caja{
        align-items: center;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 100%;
        padding-bottom: 50px;

    }

    
}
/*responsive para tabletas*/
@media (max-width:780px) {
    .buscador{
        width: min-content;
    }
    .button1{
        display: none;
    }
    .card{
        margin:3px;
        width: 50vw;
        height: 60vw;
    }
    .titulo{
        display: none;
    }
    .caja2{
        flex-direction: column;
    }
    #texto{
        margin-top:12px;
    }
    .imagen {
        width: 50vw;
        height: 30vw;
        border-radius: 15px 15px 0px 0px;
    }
    .hijo2form{
        font-size: small;
        display:flex;
        flex-wrap:wrap;
        width:80vw; 
        flex: row;
        margin:10px 10px 10px 10px;
        padding:12px;
        justify-content: center;
    }
    #contacto{
        justify-content: center;
        align-items: center;
        align-content: center;
        width:70vw;
        padding:10px;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

    }
    .formReserva1{
        font-size: small;
        padding: 7px;
    }

}
@media (max-width:490px){
    .precio{
        height: 9px;
        margin-top: 0px;
    }
    .card{
        width: 50vw;
        height: 70vw;
        padding-bottom: 30px;
    }
    .imagen{
        width: 50vw;
        height: 40vw;
        border-radius: 15px 15px 0px 0px;
    }
}